<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.multi.mapper.UserMapper">
    <resultMap id="userMap" type="com.itheima.multi.domain.User">
        <id column="id" property="id"></id>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>
        <collection property="orderList" ofType="order">
            <!--封装order的数据-->
            <id column="oid" property="id"/>
            <result column="ordertime" property="ordertime"/>
            <result column="total" property="total"/>
        </collection>
    </resultMap>

    <select id="findAlls" resultMap="userMap">
        SELECT u.username,o.ordertime,o.total
        FROM `sys_USER` u,
             `orders` o
        WHERE u.id = o.uid
    </select>

    <resultMap id="userRoleMap" type="com.itheima.multi.domain.User">
        <!--user的信息-->
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>
        <!--user内部的roleList信息-->
        <collection property="roleList" ofType="role">
            <id column="roleId" property="id"/>
            <result column="role_name" property="roleName"/>
            <result column="role_desc" property="roleDesc"/>
        </collection>
    </resultMap>

    <select id="findUserAndRoleAll" resultMap="userRoleMap">
        select u.username, u.password, r.rolename, r.roledesc
        from sys_user u,
             sys_user_role ur,
             sys_role r
        WHERE u.id = ur.userid
          AND ur.roleid = r.id
    </select>
</mapper>